.root-window {
    -fx-background-color: #313640;
}

.root-window__content {
    -fx-alignment: center;
}

.root-window__title {
    -fx-font-size: 46;
    -fx-text-fill: white;
    -fx-padding: 0 0 20 0;
}

.root-window__start {
    -fx-background-color: transparent;

    -fx-font-size: 38;
    -fx-text-fill: #ff715b;
}

.root-window__start:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}