.set-ships-window {
    -fx-background-color: #313640;
}

.set-ships-window__title {
    -fx-font-size: 46;
    -fx-text-fill: white;
    -fx-padding: 0 0 20 0;
}

.cell {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-color: #313640;
    -fx-border-color: white;
    -fx-border-width: 1;
}

.cell:hover {
    -fx-background-color: #ff715b;
}

.ship-block {
    -fx-pref-width: 200;
}

.ship-block__count {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.ships-pane {
    -fx-max-height: 200;
    -fx-padding: 0 0 0 40;
}

.ship {
    -fx-background-color: #ff715b;
}

.set-ships-window__save-button {
    -fx-background-color: transparent;
    -fx-font-size: 38;
    -fx-text-fill: #ff715b;
}

.set-ships-window__save-button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}